<h3 class="mb-4">Usuarios</h3>

<div class="card shadow">
  <div class="card-body">

    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Rol</th>
          <th>Estado</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td>{{user.role}}</td>
          <td>
            <span class="badge"
                  [ngClass]="user.isApproved ? 'bg-success' : 'bg-warning text-dark'">
              {{ user.isApproved ? 'Aprobado' : 'Pendiente' }}
            </span>
          </td>
        </tr>
      </tbody>

    </table>

  </div>
</div>
